<hr>
<form class="{{type}}">
  {{{renderInput}}}
  <button>Send</button>
</form>
<label>Input type:
  <select>
    {{#each types}}
    <option {{isSelected type}}>{{.}}</option>
    {{/each}}
  </select>
</label>
<label>Name: <input name=actor type=text value="{{actor}}"></label>