<div>
  {{#each log.lines}}
  <div class=entry>
    {{#isEntryType "system"}}
    <h1>{{text}}</h1>
    {{/isEntryType}}
    {{#isEntryType "line"}}
    <p>{{text}}</p>
    {{/isEntryType}}
  </div>
  {{/each}}
</div>
<form>
  <input type=text>
</form>
