<header>
  <h1>Welcome to Storychat!</h1>
  <nav>
    {{#each pages}}
    {{#unless hide}}
    <a href="/{{href}}">{{title}}</a>
    {{/unless}}
    {{/each}}
  </nav>
</header>

<div id=content {{renderPage .}}/>

<footer>is pretty good yes?</footer>