<h1>Create a character!</h1>

<p>
  Give your character a name and a description. Names must be all alphabetic
  letters, and you can optionally have a last name.
</p>

<div>
  <select name=character>
    <option>Create new</option>
    {{#each characters}}
    <option value="{{id}}"
      {{#isCurrent .}}selected{{/isCurrent}}
      {{data "character"}}>
      {{name}}
    </option>
    {{/each}}
  </select>

  {{#character}}
  {{#if character.id}}
  <button type=button class=delete>Delete</button>
  {{/if}}
  {{/character}}
</div>

{{#character}}
<character-editor character="character"/>
{{/character}}
