<h1>Create a character!</h1>

<p>
  Give your character a name and a description. Names must be all alphabetic
  letters, and you can optionally have a last name.
</p>

<select name=character>
  <option>Create new</option>
  {{#each characters}}
  <option {{data "character"}}>{{name}}</option>
  {{/each}}
</select>

<character-editor {{#character}}character="{{character}}"{{/character}}/>
