<div class=actor>
  {{firstEntry.actor}}
</div>
<div class=entries>
{{#each entries}}
{{#if parenthetical}}
<div class=parenthetical>({{parenthetical}})</div>
{{/if}}
<span class=entry>{{content}}</span>
{{/each}}
</div>