<div class=dialogue-actor>
  {{actor}}
</div>
<div class=dialogue-parenthetical>
  (<input name=parenthetical type=text>)
</div>
<div class=dialogue-entry>
  <input name=content type=text>
</div>
<input type=hidden name=groupTag value="{{actor}}">