<form>
  <label>Name
    <input type=text placeholder=Name name=name value="{{character.name}}">
  </label>
  <label>Description
    <textarea name=description placeholder=Description
      cols=80 rows=4 maxlength=200>{{character.description}}</textarea>
  </label>
  <button type=submit>Save</button>
</form>