<form class="{{type}}">
  {{renderInput type}}
  <button>Send</button>
</form>
<label>Input type:
  <select>
    {{#each inputs}}
    <option>{{name}}</option>
    {{/each}}
  </select>
</label>
<label>Name: <input name=actor type=text value="{{actor}}"></label>