$basefontsize = 1em;
$smallfontsize = .8em;
$largefontsize = 1.2em;

$basegrey = #858585;
$lightgrey= #cecece;
$basemaroon = #700000;
$baseblue = #006699;

chat-input {
  display: block;
  background-color: white;
  font-family: sans-serif;

  form {
    margin-top: 1em;
    cursor: text;
    border-radius: 5px;
    border: solid 2px $lightgrey;
    [name=content] {
      overflow: scroll;
      font-size: $basefontsize;
      border: none;
      width: 100%;
      display: block;
      height: 100%;
      resize: none;
      outline: none;
      font-family: sans-serif;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    &.dialogue {
      actor {
        font-size: $largefontsize;
        font-weight: bold;
        margin-left: 2em;
      }
      [name=content] {
        padding: 0 4em;
      }
    }

    &.action {
      position: relative;
      actor {
        position: absolute;
        top: 1px;
        left: 0;
        font-weight: bold;
      }
      [name=content] {
        padding: 0;
      }
    }

    &.ooc {
      font-size: $smallfontsize;
      color: $basegrey;
      margin-bottom: 2em;
      > span {
        display: table;
        border-collapse: separate;
        .prefix,.postfix {
          width: 1%;
          display: table-cell;
          white-space: nowrap;
        }
        [name=content] {
          color: $basegrey;
          overflow: hidden;
          width: 100%;
          display: table-cell;
        }
      }
    }

    &.slug {
      background-color: $lightgrey;
      text-transform: uppercase;
      padding: .2em;
      margin-bottom: 2em;
      [name=content] {
        background-color: $lightgrey;
        text-transform: uppercase;
        overflow: hidden;
        display: inline;
        /* XXX HACK - This is temporary while autoresize is implemented */
        width: 70%;
      }
    }
  }
}