play-page {
  margin: 0 auto;
  display: inline-block;
  float: none;
  position: static;
  .chat-container {
    width: 33em;
  }
  .user-list-container {
    font-size: 0.8em;
    .user-list {
      border-radius: 1.618em;
      padding: 1em;
      background-color: lightgrey;
      list-style: none;
    }
  }
}