play-page {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  .chat-container {
    margin: 0.33em;
    flex: 10 0 33em;
  }
  .user-list-container {
    margin: 0.33em;
    flex: 0.1 0 10em;
    .user-list {
      font-size: 0.8em;
      padding: 1em;
      border-radius: 1.618em
      background-color: lightgrey;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      li {
        flex: 1 1 12em;
      }
    }
  }
}
