html,body { height: 100%; }
play-page {
  display: block;
  width: 600px;
  min-height: 100%;
  margin: 0 auto;
  chat-output {
    height: 100%;
    overflow: scroll;
  }
  chat-input {
    position: fixed;
    bottom: 0;
    border-top: 1px solid black;
    width: 600px;
  }
}