<chat-output log=log></chat-output>
<chat-input log=log></chat-input>
<div class=user-list-container>
  <ul class=user-list>
    {{#each users}}
    <li {{data "user"}}>{{name}}{{#character}} ({{.}}){{/character}}{{#typing}} <span class=typing>(typing...)</span>{{/typing}}
    {{/each}}
  </ul>
</div>