<actor-container>
  <actor>
    {{firstEntry.actor}}
  </actor>
  {{#if firstEntry.parsedContent.parenthetical}}
  <parenthetical>{{firstEntry.parsedContent.parenthetical}}</parenthetical>
  {{/if}}
</actor-container>
<entries-container>
{{#each entries}}
{{#if parsedContent.parenthetical}}
<parenthetical>{{parsedContent.parenthetical}}</parenthetical>
{{/if}}
<dialogue-entry>{{parsedContent.dialogue}}</dialogue-entry>
{{/each}}
</entries-container>