.entry.system {
  color: grey;
  font-style: italic;
  font-size: 0.8em;
}
.entry .debug:before {
  content: "("
}
.entry .debug:after {
  content: "ms)"
}
.entry .debug {
  margin-left: 1em;
  color: grey;
  font-style: italic;
  font-size: 0.7em;
}

/*-----General styles-----*/

html {
  font-family: sans-serif;
}

/*font sizes*/

$basefontsize = 1em;
$smallfontsize = .8em;
$largefontsize = 1.2em;


/*colors*/

$basegrey = #858585;
$lightgrey= #cecece;
$basemaroon = #700000;
$baseblue = #006699;


.entry-group {
  padding-top: $basefontsize;
  max-width: 30em;

  &.slug {
    .entries {
      background-color: $lightgrey;
      text-transform: uppercase;
      padding: .2em;
    }
  }

  &.dialogue {
    .actor {
      font-size: $largefontsize;
      font-weight: bold;
      margin-left: 2em;
    }
    .entries {
      margin-left: 4em;
    }
  }

  &.action {
    .verb {
      color: $basemaroon;
    }
    .actor {
      font-weight: bold;
    }
  }

  &.ooc {
    &:before {
      content: "(( OOC "
    }
    &:after {
      content: "))"
    }
    .actor:after {
      content: ":"
    }
    font-size: $smallfontsize;
    color: $basegrey;
  }

  &.system {
    font-size: $smallfontsize;
    color: $basegrey;
    font-style: italic;
  }
}
