/*-----General styles-----*/

/*font sizes*/

$basefontsize = 1em;
$smallfontsize = .8em;
$largefontsize = 1.2em;


/*colors*/

$basegrey = #858585;
$lightgrey= #cecece;
$basemaroon = #700000;
$baseblue = #006699;

chat-output {
  display: block;
  font-family: sans-serif;
  overflow: scroll;

  .debug {
    margin-left: 1em;
    color: $lightgrey;
    font-style: italic;
    font-size: $smallfontsize;

    &:before {
      content: "("
    }
    &:after {
      content: "ms)"
    }
  }

  entry-group-wrapper {
    display: block;
    padding-top: $basefontsize;
  }

  system-entry-group {
    font-size: $smallfontsize;
    color: $basegrey;
    font-style: italic;
  }

  slug-entry-group {
    background-color: $lightgrey;
    text-transform: uppercase;
    padding: .2em;
  }

  dialogue-entry-group {
    actor-container > * {
      display: inline-block;
    }
    actor {
      font-size: $largefontsize;
      font-weight: bold;
      margin-left: 2em;
    }
    parenthetical {
      color: $basegrey;
      font-size: $smallfontsize;
      font-weight: normal;
      font-style: italic;
      &:before { content: "("; }
      &:after { content: ")"; }
    }
    entries {
      display: block;
      margin-left: 4em;
      margin-right: 4em;
      parenthetical {
        display: block;
        margin-left: -2em;
        &:first-child {
          display: none;
        }
      }
    }
  }

  action-entry-group {
    entry {
      + entry {
        padding-left: 0.4em;
      }
      verb {
        color: $basemaroon;
      }
      actor {
        display: inline;
        font-weight: bold;
      }
    }
  }

  ooc-entry-group {
    font-size: $smallfontsize;
    color: $basegrey;
    &:before {
      content: "(( OOC "
    }
    &:after {
      content: "))"
    }
    actor:after {
      content: ":"
    }
  }
  .top-gradient-box {
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 12%, rgba(255,255,255,1) 13%, rgba(255,255,255,0) 99%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,rgba(255,255,255,1)), color-stop(13%,rgba(255,255,255,1)), color-stop(99%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 12%,rgba(255,255,255,1) 13%,rgba(255,255,255,0) 99%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 12%,rgba(255,255,255,1) 13%,rgba(255,255,255,0) 99%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 12%,rgba(255,255,255,1) 13%,rgba(255,255,255,0) 99%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 12%,rgba(255,255,255,1) 13%,rgba(255,255,255,0) 99%,rgba(255,255,255,0) 100%); /* W3C */
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
  }
}
