<span class=prefix>((OOC <actor>{{actor.name}}</actor>:&nbsp;</span>
<input name=content placeholder="brb bio" rows=1>
<span class=postfix>))</span>
<input type=hidden name=groupTag value="{{actor.id}}">