<select name=extInt>
  <option>Ext.</option>
  <option>Int.</option>
</select>
<input name=content placeholder="SOMEWHERE EXCITING">
<select name=timeOfDay>
  <option>Morning</option>
  <option>Day</option>
  <option>Afternoon</option>
  <option>Evening</option>
  <option>Night</option>
</select>